* {
    box-sizing: border-box;
}

.win {
    display : none
}



.h {
    color: rgb(236, 65, 65);
    text-align: center;
    
}
.cell {
    width: 35px;
    height: 50px;
    background-color: rgba(85, 85, 85);
    border: 2px solid rgb(117, 117, 117);
}

.life {
    color: rgb(236, 65, 65);
    color: rgb(236, 65, 65);
    width: 90px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 30%;
    background-color: rgba(41, 41, 41, 0.50.5);
    margin-left: 60%;
 font-size: 35px;   
display: flex;
justify-content: center;
align-items: center;
/* right: 400px */
}

h4 {
    color:lightsalmon;
    text-align: center;
    border: 2px solid rgb(119, 92, 92);
    font-size:28px;
    left: 50%;
}


.cell-mark {
    color: rgb(236, 65, 65);
    width: 90px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 30%;
    background-color: rgba(150, 138, 138, 0.5);
    margin-left: 50%;
    position: absolute;
 font-size: 35px;   
 display: inline-block;
display: flex;
justify-content: center;
align-items: center;
right: 1000px;
top: 37%;
right: 400px;
}
          

.timer {
    color: rgb(236, 65, 65);
    
    width: 90px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 30%;
   background-color: rgb(85, 85, 85);
    margin-left: 50%;
    position: absolute;
 font-size: 35px;   
 display: inline-block;
display: flex;
justify-content: center;
align-items: center;
right: 400px;
}


body  {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 22px;
    background-position: center;
    align-items: center;
}

.button {
display: inline-block;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(114, 114, 114);
border: 2px solid rgb(119, 92, 92);
height: 35px;
color:lightsalmon;
font-size: 28px
}
.board {
    padding-top: 20px;
    width: 27%;
    height: 27%;
    margin: auto;
    box-sizing: border-box
    
}
.board-body {
    background-color: rgb(80, 77, 77);
    cursor: pointer;
    width: 450px;
    height: 250px;
    box-sizing: border-box
    
}
.cell {
    width : 30px;
    height: 30px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: x-large;
    opacity: .8;
    text-align: center;

}

.win {

    /* background-color: rgba(141, 148, 140, 0.8);    color:  rgba(78, 54, 88, 0.8); */
    color:lightsalmon;
    width: 500px;
    height: 200px;
display: block;
position: absolute;
left: 3%;
top: 55%;
 display: block;
 position: absolute;
 font-size: 35px;   
 display: inline-block;
display: flex;
justify-content: center;
align-items: center;
display: none;
}
.lose{
    /* background-color: solid rgba(141, 148, 140, 0.8); */
    color:lightsalmon;
    width: 500px;
    height: 200px;
display: block;
position: absolute;
left: 64%;
top: 55%;
 display: block;
 position: absolute;
 font-size: 35px;   
 display: inline-block;
display: flex;
justify-content: center;
align-items: center;
display: none;
}

.main-menu {
    background-color:  rgba(141, 148, 140, 0.8);
    width: 300px;
    height: 100px;
display: inline-block;
position: absolute;
left: 40%;
top: 50%;
top: 10;
 font-size: 35px;   
display: flex;
justify-content: center;
align-items: center;

}

life {
    right: 68%;
    color: rgb(236, 65, 65);
    width: 90px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 30%;
   background-color: rgba(41, 41, 41, 0.50.5);
    margin-left: 50%;
    position: absolute;
 font-size: 35px;   
 display: inline-block;
display: flex;
justify-content: center;
align-items: center;

}


